<div class="margen-titulos">
    <h1 class="animated fadeIn">Sobre Comics-App</h1>
    <hr>
</div>

<div class="animated fadeIn">
    <p>
        Comic-App es un prototipo que muestra las formas en las que podemos utilizar las nuevas tecnologías de desarrollo front-end.
    </p>
    <ul>
        <li>
            Crear una tienda de productos, de giro general ya sea Ropa, mascotas, tecnología etc.
        </li>
        <li>
            Utilizarla para buscar personas en una base de datos ya sea de una escuela, empresa o consumir una API.
        </li>
        <li>
            Con Comic-App fomentamos la utilización de software libre como Linux y VisualStudio que es el entorno de desarrollo de esta Aplicación.
        </li>
        Comic-Aapp esta desarrollada con los siguintes lenguajes:
        <ol>
            <li>Html 5</li>
            <li>Css 3</li>
            <li>JavaScript</li>
            <li>TypeScript</li>
            <li>Angular 7 (Framework)</li>
            <li>Boostrap 4 (Framework)</li>

        </ol>
    </ul>
</div>
<!--
inicia tarjetas
-->
<div class="margen-titulos">
    <h3 class="animated fadeIn">Equipo de desarrollo</h3>
    <hr>
</div>
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 avatar ">
        <div class="card animated fadeIn fast">
            <img class="card-img-top img-fluid" src="assets/img/avatar1.png">
            <div class="card-body">
                <h4 class="card-title">Jesús Antonio Pérez Cepeda</h4>
                <p class="card-text">Ingeniero en Sistemas Computacionales</p>
                <p class="card-text"><small class="text-muted">Universidad Tamaulipeca, Campus Reynosa.</small></p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 avatar">
        <div class="card animated fadeIn fast">
            <img class="card-img-top img-fluid avatar" src="assets/img/avatar2.png">
            <div class="card-body">
                <h4 class="card-title">Teresa de Jesús Juarez Maldonado</h4>
                <p class="card-text">Ingeniero en Sistemas Computacionales</p>
                <p class="card-text"><small class="text-muted">Universidad Tamaulipeca, Campus Reynosa.</small></p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 avatar">
        <div class="card animated fadeIn fast">
            <img class="card-img-top img-fluid avatar" src="assets/img/avatar3.png">
            <div class="card-body">
                <h4 class="card-title">Adán Ochoa Ramírez</h4>
                <p class="card-text">Ingeniero en Sistemas Computacionales</p>
                <p class="card-text"><small class="text-muted">Universidad Tamaulipeca, Campus Reynosa.</small></p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 avatar">
        <div class="card animated fadeIn fast">
            <img class="card-img-top img-fluid avatar" src="assets/img/avatar4.png">
            <div class="card-body">
                <h4 class="card-title">Jonathan Alexis Hernández Dominguez</h4>
                <p class="card-text">Ingeniero en Sistemas Computacionales</p>
                <p class="card-text"><small class="text-muted">Universidad Tamaulipeca, Campus Reynosa.</small></p>
            </div>
        </div>
    </div>
    <!--
termina tarjetas
-->